extends layout

block content
  .container
    span(style="font-size: 30px")
      | React + Redux Based Visual Programming Language
    #react
  
    script(type='text/javascript', src='/javascripts/bundle.js')